*,
*::before,
*::after {
  box-sizing: border-box;
}

$btn-height: 9.78vh;
$btn-radius: 14px;

$padding-horizontal: clamp(16px, 6vw, 100px);

body {
  font-family: 'Space Grotesk', sans-serif;
}
button{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
}

.landing-page{
    width: 93.750vw;
    border: 1px solid black;
    margin: 0 auto;
    font-size: 1.25rem;
    
    .landing-page_padding{
        padding-inline: $padding-horizontal;

        header{
            .navigation-bar{
                width: 100%;
                height: $btn-height;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .logo{

                    .positivus-logo{
                        width: clamp(150px, 15vw, 219.54px);
                        height: clamp(24px, 2.5vw, 36px);
                    }
                }

                .navigation-bar_nav{
                    width: 68.36%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 2.604vw;

                    .navigation-bar_nav_list{
                        display: flex;
                        align-items: center;
                        gap: 2.083vw;
                        flex-direction: row;
                        
                        .navigation-bar_nav_list__item{
                            list-style: none;
                        }
                    }

                    .navigation-bar_button_request{
                        width: 12.031vw;
                        height: $btn-height;
                        background: #fff;
                        border-radius: 14px;
                    }
                }
            }
            .header-main{
                width: 100%;
                height: 74.10vh;
                display: flex;
                justify-content: space-between;
                margin: 5.76vh 0 5.76vh 0;

                .header-main_text{
                    width: 34.570vw;
                    height: 69.21vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .header-main_consultation{
                        width: 17.188vw;
                        height: $btn-height;
                        background: #191A23;
                        border-radius: 14px;
                        border: none; 
                        outline: none; 
                        color: #ffffff;
                    }
                    .header-main_text_h1{
                        margin: 0 auto;
                        font-weight: 500;
                        font-size: 3.75rem;
                    }
                }

                .header-main_img, .gramophone{
                    width: clamp( 400px, 41.667vw ,600px) ;
                    height: auto;
                }
            }
            .logotypes{
                display: flex;
                justify-content: space-between;
                width: 100%;

                .logotypes-logo{
                    width: clamp(80px, 8.073vw, 124.11px);
                    height: auto;
                    filter: grayscale(1);
                }
            }
        }
        main{

            .heading-article{
                width: 100%;
                height: 5.869vh;
                display: flex;
                flex-direction: row;
                margin-top: 20vh;

                .heading-article_heading{
                    width: max-content;
                    padding-inline: 0.4vw;
                    background: #B9FF66;
                    border-radius: 7px;
                    display: flex;
                    align-items: center;     
                    justify-content: center; 
                    margin-right: 2.083vw;

                    h2{
                        margin: 0;
                        font-weight: 600;
                    }
                }
                .heading-article_text{
                    margin: 0;
                    width: 37.760vw;
                    height: 5.293vh;
                    font-size: 1.125rem;

                    span{
                        display: flex;
                    }
                }
            }
            .services{
                margin-top: 7vh;
                display: flex;
                flex-direction: column;

                .services-cards{
                    width: 100%;

                    .cards-section{
                        width: 100%;
                        height: 35.673vh;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        &.center-card-section{
                            margin: 5.76vh 0 5.76vh 0;
                        }

                        .card{
                            width: 39.063vw;
                            height: 35.673vh;
                            border: 1px solid black;
                            border-radius: 45px;
                            box-shadow: 0px 4px 0px 0px #191A23;

                            &.card_grey{
                                background: #F3F3F3;
                            }
                            &.card_lightgreen{
                                background: #B9FF66;
                            }
                            &.card_darkblue{
                                background: #191A23;
                            }
                            .card-padding{
                                padding: 3.255vw;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;

                                .card_text{
                                    height: 24.166vh;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    align-items: flex-start;

                                    .card_heading{
                                        .card_heading_h3{
                                            width: max-content;
                                            margin: 0;
                                            border-radius: 7px;
                                            font-weight: 500;
                                            padding: 0 0.195vw 0 0.195vw;

                                            &.heading_background_lightgreen{
                                                background: #B9FF66;
                                            }
                                            &.heading_background_white{
                                                background: #fff;
                                            }
                                        }
                                    }
                                    
                                    .card_link{
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        
                                        .card_arrow{
                                            width: 2.135vw;
                                            height: 4.718vh;
                                            margin-right: 9%;
                                        }

                                        p{
                                            width: 8vw;

                                            &.card_link_text_white{
                                                color: white;
                                            }
                                        }
                                    }
                                }

                                .card_illustration{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    
                                    .card_illustration_img{

                                        &.card_illustration_magnifyingglass{
                                            width: clamp(80px, 13.67vw, 210px);
                                            height: clamp(65px, 24.46vh, 170px);
                                        }
                                        &.card_illustration_windowarrow{
                                            width: clamp(80px, 13.67vw, 210px);
                                            height: clamp( 56.24px,21.24vh, 147.62px);
                                        }
                                        &.card_illustration_windowsmile{
                                            margin-top: -4vh;
                                            width: clamp(80px, 11.068vw, 170px);
                                            height: clamp(80px, 24.46vh, 170px);
                                        }
                                        &.card_illustration_blackholes{
                                            margin-top: -4vh;
                                            width: clamp(80px, 12.370vw, 190px);
                                            height: clamp( 73.4px, 24.85vh, 172.68px);
                                        }
                                        &.card_illustration_windows{
                                            margin-top: -3vh;
                                            width: clamp( 80px, 12.044vw, 185px);
                                            height:clamp( 76px, 24.59vh, 170.91px);
                                        }
                                        &.card_illustration_diagrams{
                                            margin-top: -4vh;
                                            width: clamp(80px, 13.67vw, 210px);
                                            height: clamp(65px, 24.46vh, 170px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .proposal{
                width: 80.729vw;
                height: 49.93vh;
                background: #F3F3F3;
                border-radius: 45px;
                margin-top: 20vh;

                .proposal-padding{
                    padding: 3.906vw;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;

                    .proposal-text{
                        width: 34.552vw;
                        height: 32.66vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .proposal_h3{
                            font-size: 2.0625rem;
                            font-weight: 500;
                            margin: 0;
                        }

                        .proposal_button{
                            width: 18.750vw;
                            height: 9.78vh;
                            background: #191A23;
                            border-radius: 14px;
                            color: #ffffff;
                            border: none; 
                            outline: none; 
                            flex-shrink: 0;
                        }
                    }
                    .proposal-illustration{
                        width: 32.161vw;
                        height: 56.69vh;
                        margin-top: -12vh;
                        
                        .proposal-illustration_img{
                            width: 23.372vw;
                            height: 56.73vh;
                        }
                    }
                }
            }
            .case-studies{
                width: 80.339vw;
                height: 46.91vh;
                background: #191A23;
                padding: 10.07vh 3.906vw 10.07vh 3.906vw;
                border-radius: 45px;
                display: flex;
                margin-top: 12vh;
                flex-direction: row;

                .case-studies-cell{
                    width: 18.620vw;

                    .case-studies-cell-text{
                        color: white;
                        font-size: 1.1rem;
                        margin: 0 0 2.88vh 0;
                    }
                    .case-studies-cell-link{
                        display: flex;
                        align-items: center;
                        .case-studies-cell-link-text{
                            text-decoration: none;
                            color: #B9FF66;
                            margin-right: 1vw;
                        }
                        .case-studies-cell-arrow-picture{
                            width: 1.128vw;
                            height: auto;
                        }
                    }
                }
                .vertical-line{
                    width: 0.1vw; 
                    background-color: white; 
                    height: 26.76vh; 
                    float: left; 
                    margin: 0vh 4.167vw 0vh 4.167vw;
                }
            }
            .working-process{
                padding: 5.90vh 3.906vw 5.90vh 3.906vw;
                background: #F3F3F3;
                margin-top: 4.32vh;
                border-radius: 45px;
                border: 1px solid black;
                box-shadow: 0px 4px 0px 0px #191A23;

                    &.first-working-process{
                        margin-top: 12vh;
                        background: #B9FF66;
                    }
                .working-process-cell-header{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 11.08vh;
                    width: 72.721vw;
                    
                    h1{
                        font-size: 3.75rem;
                        margin-right: 1.628vw;
                        font-weight: 500;
                    }
                    h3{
                        font-size: 1.875rem;
                        font-weight: 500;
                    }
                    img{
                        width: 3.776vw;
                        height: 8.35vh;
                        margin-left: auto;
                    }
                }
                hr{
                    background: #000;
                    border: 0.11vh solid black;
                }
                .working-process-cell-text{
                    p{
                        font-size: 1rem;
                    }
                }
            }
            .team{
                display: flex;
                flex-direction: column;
                margin-top: 10vh;
                .teammates-row{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 5.76vh;
                    .teammates-cell{
                        width: 25.195vw;
                        border: 1px solid black;
                        box-shadow: 0px 4px 0px 0px #191A23;
                        height: 47.63vh;
                        padding: 5.04vh 2.604vw 5.04vh 2.604vw;
                        border-radius: 45px;

                        .teammates-cell-person{
                            width: 20.638vw;
                            height: 14.79vh;
                            display: flex;
                            flex-direction: row;

                            .teammates-cell-person_flowerface{
                                width: 6.368vw;
                                height: 14.07vh;
                                margin-right: 1vw;
                            }
                            .teammates-cell-person_text{
                                margin-top: auto;
                                h4{
                                    margin: 0;
                                }
                                p{
                                    margin: 0;
                                    width: max-content;
                                }
                            }
                            .linkedin{
                                margin-left: auto;
                                width: 2.214vw;
                                height: 4.89vh;
                            }
                        }
                        hr{
                            margin: 4.03vh 0 4.03vh 0;
                            background: #000;
                            border: 0.11vh solid black;
                        }
                        .teammates-cell-text{
                            font-size: 1rem;
                        }
                    }

                }
                .team_button{
                    width: 17.188vw;
                    height: $btn-height;
                    background: #191A23;
                    border-radius: 14px;
                    border: none; 
                    outline: none; 
                    color: #ffffff;
                    align-self: flex-end;
                }
            }
            .slider-container {
                width: 80.729vw;
                height: 89.93vh;
                background: #191A23;
                border-radius: 45px;
                margin-top: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                .slider-testimonials {
                    width: 100%;
                    height: 68.06vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    
                    .testimonials-cards {
                        width: 100%;
                        height: 48.20vh;
                        display: flex;
                        flex-direction: row;
                        scrollbar-width: none;
                        scroll-padding: 0 20%; 
                        overflow-x: scroll;
                        scroll-snap-type: x mandatory;
                        scroll-behavior: smooth;    

                        .testimonial-card {
                            width: 48.8%;
                            height: 48.20vh;
                            scroll-snap-align: center; 
                            margin: 0 1.5%;
                            border-radius: 0.2rem;
                            
                            
                            .bubble {
                                width: 39.453vw;
                                height: 38.27vh;
                                border: 1px solid #B9FF66;
                                border-radius: 45px;
                                padding: 6.91vh 3.385vw;
                                box-sizing: border-box;
                                
                                p {
                                    font-size: 1rem;
                                    color: white;
                                }
                            }
                            .testimonial-undertext {
                                margin-top: 2vh;
                                text-align: right;
                
                                h4 {
                                    margin: 0;
                                    color: #B9FF66;
                                    font-weight: 400;
                                }
                
                                p {
                                    margin: 0;
                                    color: white;
                                }
                            }
                        }
                    }
                    .slider-navigation {
                        width: 36.719vw;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin-top: 1.5rem;
                        
                        .starsliding .slider-navigation-stars {
                            width: 0.911vw;
                            height: auto;
                            margin-right: 1vw;
                        }
                    }
                }
            }
            // .slider-navigation_arrow {
            //     width: 1.302vw;
            //     height: auto;
            //     cursor: pointer;
            // }

        }
    }
}